*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  padding-top: ($header-height - 1px)
  font-family: Arial, Tahoma, Helvetica, Sans-serif

.tb-container
  max-width: 1440px
  margin: 0 auto

.tb-title-section
  font: 50px/1.1 $font-bold
  color: #4E4E4E
  letter-spacing: 2px
  text-transform: uppercase

.tb-read-more
  color: $red
  text-decoration: none
  font: 25px/29px $font-regular
  display: block
  margin: 110px 80px 0
  padding-right: 50px
  text-align: right
  background: url(images/arrow-right.png) no-repeat right center
  background-size: contain

////
// Categ Menu in Home
////
.tb-categ-menu
  @extend .tb-container
  background: #FFFFFF
  border: 1px solid rgba(139,152,190,0.20)
  box-shadow: 0px 5px 5px 0px rgba(139,152,190,0.20)
  border-radius: 100px
  margin: 50px auto

.tb-categ-list
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center

  li
    flex: 1
    list-style: none

  a
    padding: 15px 0
    display: block
    font: 16px/19px $font-regular
    color: #9C9C9C
    letter-spacing: .8px
    text-decoration: none
    text-transform: uppercase
    &:hover
      color: $red

.tb-section
  padding: 20px 20px 30px
  
  @include break(desk)
    padding: 100px 0


.tb-post-box
  @extend .tb-box
  flex: 1 0 300px
  font: 20px/24px $font-bold
  letter-spacing: 0.45px

////
// Page Nav buttons
////
.tb-pagination
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding: 100px 30px
  clear: both
  a
    @extend .tb-btn
    max-width: 250px
    flex: 1 0 250px
    text-align: center


