*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  padding-top: ($header-height - 1px)
  font-family: Arial, Tahoma, Helvetica, Sans-serif

.tb-container
  max-width: 1440px
  margin: 0 auto

.tb-title-section
  font: 50px/1.1 $font-bold
  color: #4E4E4E
  letter-spacing: 2px
  text-transform: uppercase

  & + p
    @extend .tb-lead-paragraph