$desktop: "screen and (min-width: 1200px)"
$header-height: 80px

////
// Image Replacement
////
%image-replace
  text-indent: -9999px
  overflow: hidden
  background-repeat: no-repeat
  background-position: left center
  display: inline-block
  background-size: contain

%center-vertical
  position: absolute
  top: 50%
  transform: translateY(-50%)

%center-horizontal
  position: absolute
  left: 50%
  transform: translateX(-50%)

%center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

////
// Fonts
////
$font-regular: proximanova-regular, arial, helvetica, verdana, tahoma, sans-serif
$font-bold: proximanova-bold, arial, helvetica, verdana, tahoma, sans-serif