$desktop: "screen and (min-width: 1200px)"
$header-height: 80px
$sidebar-width: 30%

////
// Fonts
////
$font-regular: proximanova-regular, arial, helvetica, verdana, tahoma, sans-serif
$font-bold: proximanova-bold, arial, helvetica, verdana, tahoma, sans-serif
$font-light: proximanova-light, arial, helvetica, verdana, tahoma, sans-serif

////
// Colors
////
$red: #FF5252
$bg-color-default: #f7f9fb
$border-diagonal-color: rgba(140, 153, 191, .20)
$border-color-default: $border-diagonal-color

////
// Image Replacement
////
%image-replace
  text-indent: -9999px
  overflow: hidden
  background-repeat: no-repeat
  background-position: left center
  display: inline-block
  background-size: contain

%center-vertical
  position: absolute
  top: 50%
  transform: translateY(-50%)

%center-horizontal
  position: absolute
  left: 50%
  transform: translateX(-50%)

%center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

%clearfix
  &:after
    content: ""
    display: block
    clear: both
    height: 0
    width: 0

%clip-section
  @media screen and (max-width: 1200px)
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%)
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%)
  @media screen and (max-width: 1200px)
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%)
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%)

///  Direction: bottom to top
%divider-diagonal-bt
  padding-bottom: 200px
  margin-bottom: 50px
  &:after 
    content: ""
    height: 135px
    width: 113%
    display: block
    border-top: 1px solid rgba(140, 153, 191, .30)
    border-bottom: 1px solid $border-diagonal-color
    box-shadow: inset 0px 50px 70px 0px $border-diagonal-color
    transform: rotate(-5deg)
    position: absolute
    bottom: 0
    left: -5%

///  Direction: top to bottom
%divider-diagonal-tb
  position: relative
  padding-bottom: 200px
  margin-bottom: 50px
  &:after 
    content: ""
    height: 135px
    width: 113%
    display: block
    border-top: 1px solid rgba(140, 153, 191, .30)
    border-bottom: 1px solid $border-diagonal-color
    box-shadow: inset 0px 50px 70px 0px $border-diagonal-color
    transform: rotate(5deg)
    position: absolute
    bottom: 0
    left: -5%

.tb-divider
  &:after
    content: ""
    display: block
    background: url(images/img_divider.png) no-repeat center center
    background-size: 98px
    height: 20px
    margin-top: 10px


////
// Boxes
////
.tb-box
  background: #fff
  box-shadow: 0px 30px 30px 0px rgba(139, 152, 190, .20)
  text-align: left
  border-radius: 1px
  border: 1px solid rgba(139, 152, 190, .20)

.tb-lead-paragraph
  font: 20px/27px "PT Serif Caption"
  color: #4E4E4E
  padding-bottom: 35px
  margin-bottom: 60px

  // &:after
  //   @extend .tb-divider
  //   margin-top: 15px

////
// Titles
////
.tb-title-1
  font: 100px $font-bold
  color: #4E4E4E
  text-transform: uppercase