.single-post,
.page
  background: #f7f9fb

.tb-post-page
  @extend .tb-container

  @include break(desk)
    padding-top: 0

.tb-post-content
  margin-top: 220px
  position: relative
  background: #f7f9fb
  z-index: 2

  @include break(desk)
    margin-top: 0
    display: flex
    flex-wrap: wrap

.tb-featured-image
  height: 220px
  width: 100%
  overflow: hidden
  position: fixed
  top: $header-height
  left: 0
  z-index: 0

  @include break(desk)
    position: relative
    top: 0
    height: 520px

  img
    width: 100%
    height: auto
    min-height: 440px
    @extend %center


////
// Post texta area
////
.tb-post-area
  flex: 1 0 40%

.tb-post-text
  @extend %box-white
  border: none
  padding: 25px
  font-weight: 400
  font-size: 16px
  font-family: Lora, Arial, Tahoma, Sans-serif
  line-height: 1.5

  @include break(desk)
    font-size: 19px
    padding: 50px 50px 25px
    border-right: 1px solid $border-color-default
    border-left: 1px solid $border-color-default

  code
    padding: 2px 4px
    color: #c7254e
    background-color: #f9f2f4
    white-space: nowrap
    border-radius: 4px
    font-size: 17px

  img
    max-width: 100%
    height: auto

  a
    color: $red
    text-decoration: none
    box-shadow: inset 0 -2px 0 $red
    transition: box-shadow .05s linear
    &:hover
      color: #000
      box-shadow: inset 0 -8px 0 $red

  & > p
    color: #4A4A4A
    letter-spacing: .5
    margin-bottom: 20px
    @include break(desk)
      margin-bottom: 35px

  ol, ul
    margin-bottom: 35px
    list-style-position: inside
  li
    color: #4A4A4A
    margin-bottom: 5px


  ////
  // Header of Article
  ////
  header
    padding-bottom: 65px

    h1
      font-size: 30px 
      font-family: Lora
      font-weight: 700
      line-height: 1.2
      color: #4A4A4A
      padding-bottom: 30px
      cursor: default

      @include break(desk)
        font-size: 60px

    .tb-author-info
      @extend .tb-divider
      display: block
      color: #9C9C9C
      font: 13px/24px $font-light
  
      @include break(desk)
        font: 20px/24px $font-light

      &:after
        background-position: bottom left
        margin-top: 30px

      a
        box-shadow: none
        color: #9C9C9C
        text-decoration: none

        &:hover
          color: #000

      img
        width: 35px
        height: 35px
        border-radius: 100%
        margin-right: 10px
        vertical-align: middle

        @include break(desk)
          width: 50px
          height: 50px
          margin-right: 20px

  ////
  // Footer of Article
  ////
  footer
    border-top: 1px solid #F0F0F0
    margin-top: 50px
    font-style: italic
    font-size: 18px
    color: #ACACAC
    line-height: 23px
    padding: 25px 5px 0
    letter-spacing: 1px

////
// Social Links Buttons
////
.tb-social-links
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 70px
  z-index: 3

  @include break(desk)
    position: static

  ul
    display: flex
    text-align: center
    height: inherit
    flex-wrap: wrap

  li
    flex: 1
    list-style: none

  a
    @extend %image-replace
    display: block
    height: 70px
    width: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: 25%
    transition: background-size .10s linear

    @include break(desk)
      background-size: 13%


    &:hover
      background-size: 15%

.tb-social-twitter
  background-color: rgba(85, 172, 238, 1)
  background-image: url(images/twitter-icon.png)
  &:hover
    background-color: rgba(85, 172, 238, .85)

.tb-social-facebook
  background-color: rgba(58, 91, 162, 1)
  background-image: url(images/facebook-icon.png)
  &:hover
    background-color: rgba(58, 91, 162, .85)

.tb-social-google
  background-color: rgba(221, 75, 57, 1)
  background-image: url(images/plus-icon.png)
  &:hover
    background-color: rgba(221, 75, 57, .85)


////
// Post Author Bio
////
.tb-post-author
  @extend %box-white
  margin-top: 75px
  padding: 30px
  position: relative

  &:after
    content: ""
    margin-top: 30px
    height: 8px
    width: 100%
    position: absolute
    bottom: 0
    left: 0
    background-image: linear-gradient(-90deg, #FF5252 0%, #0288D1 100%)

  a
    text-decoration: none
    color: #9C9C9C

  p
    font-size: 18px
    color: #9C9C9C
    line-height: 24px
    padding-bottom: 15px
    overflow: hidden
    margin-left: 80px
    
    @include break(desk)
      margin-left: 145px

    a
      color: $red

  h3
    font: 30px $font-bold
    color: #4A4A4A
    margin-bottom: 15px

  img
    border: 1px solid $border-color-default
    border-radius: 100%
    margin-right: 22px
    float: left
    width: 60px
    height: 60px

    @include break(desk)
      width: auto
      height: auto


.tb-related-posts
  padding: 70px 0
  text-align: center
  background: #f7f9fb

  .tb-lead-paragraph
    margin-bottom: 30px

  .tb-related-group
    display: flex
    flex-wrap: wrap

    .tb-post-box
      @include break(desk)
        flex: 1

////
// Comments
////
.tb-comments
  @extend %box-white
  padding: 25px

  @include break(desk)
    padding: 100px

#disqus_thread
  #dsq-app5
    display: none